.col h1 {
    color: lightblue;
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 1px 1px black;
}
.col h1:hover {
    font-size: 60px;
    background-color: black;
    opacity: 0.8;
    border-radius: 45px;
}

h1#htmlhover {
    transition: font-size 1s;
}

h1#htmlhover {
    max-width: 230px;
}
img#logo {
    height: 60px;
    width: 100px;
    transition: height 1s, width 1s;
}

img#logo:hover {
    height: 90px;
    width: 150px;
}
a#javalink {
    font-size: 100px;
    transition: font-size 1.2s;
}
a#javalink:hover {
    font-size: 35px;
}
a#html5link {
    font-size: 100px;
    transition: font-size 1.2s;
}
a#html5link:hover {
    font-size: 35px;
}
a#infolink {
    font-size: 100px;
    transition: font-size 1.2s;
}
a#infolink:hover {
    font-size: 35px;
}
.firstRow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: lightblue;
    font-family: 'Poppins', sans-serif;
}
.secondRow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 1px 1px black;
    font-family: 'Poppins', sans-serif;
}
p#javaNPText {
    color: white;
    position: relative;
    align-items: center;
    text-align: center;
}
html::before {
    content: ' ';
    display: block;
    background-image: url('../img/backgroundPortfolio3.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10; // This is pretty important.
}
.container#backgroundfirstrow {
    position: relative;
    top: 50px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 100%;
}
p#javaGText {
    color: white;
    position: relative;
    align-items: center;
    text-align: center;
}
p#javaRText {
    color: white;
    position: relative;
    align-items: center;
    text-align: center;
}
.container#backgroundsecondrow {
    position: relative;
    top: 200px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 100%;
}

