@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
.navbar {
    padding: .8rem;
}
.navbar-nav li {
    padding-right: 20px;
}
#navbarResponsive {
    font-size: 1.1em !important;
}
.navbar-collapse {
    text-align: center;
}

#navbarResponsive ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    color: black;
    position: relative;
    padding: 5px;
}
#navbarResponsive ul li a:hover {
    color: blue;
}
#navbarResponsive ul li a:first-child:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    border-top: 40px solid deeppink;
    border-left: 2px solid deeppink;
    transition: .2s;
    opacity: 0;
}
#navbarResponsive ul li a:last-child:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 25px;
    border-bottom: 30px solid blue;
    border-left: 2px solid blue;
    transition: .2s;
    opacity: 0;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    color: deepskyblue;
    font-size: 500%;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
#navbarResponsive ul li a:hover:first-child:before {
    top: -10px;
    left: -10px;
    opacity: 1;
}

/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
}
@media (max-width: 576px) {

}
 /*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('#');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
.col h1 {
    color: dodgerblue;
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 1px 1px black;
}
.col h1:hover {
    font-size: 60px;
    background-color: lightblue;
    border-radius: 5px;
}

h1#htmlhover {
    transition: font-size 1s;
}

h1#htmlhover {
    max-width: 300px;
}

img#logo {
    height: 60px;
    width: 100px;
    transition: height 1s, width 1s;
}

img#logo:hover {
    height: 90px;
    width: 150px;
}
a#javalink {
    font-size: 100px;
    transition: font-size 1.2s;
}
a#javalink:hover {
    font-size: 35px;
}
a#html5link {
    font-size: 100px;
    transition: font-size 1.2s;
}
a#html5link:hover {
    font-size: 35px;
}
a#infolink {
    font-size: 100px;
    transition: font-size 1.2s;
}
a#infolink:hover {
    font-size: 35px;
}